{% block carruselImg %}
    
    <div class ="row">
        <div class ="col-md-12">
            <!-- Carrusel -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                  <div class="item active">
                    <img src="{{asset('assets/img/img1.jpg')}}" alt="img1">
                    <div class="carousel-caption">
                      img1
                    </div>
                  </div>
                  <div class="item">    
                      <img src="{{asset('assets/img/img2.jpg')}}" alt="img2">
                    <div class="carousel-caption">
                      img2
                    </div>
                  </div>
                  <div class="item">    
                    <img src="{{asset('assets/img/img3.jpg')}}" alt="img3">
                    <div class="carousel-caption">
                      img3
                    </div>
                  </div>
                    <p class='textoEspecialElegante'> Sesión de fotos ...</p>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
            </div>
            <!-- Fin Carrusel -->
        </div>
        </div>
{% endblock carruselImg %}
