{% extends "base.html.twig"%}


{% block newFonts %}
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Lobster" rel="stylesheet">
{% endblock newFonts%}

{% block newStyles %}  
    <style>
        body {
		background-color: #EC7063;
	}
        .textoCentralElegante {
            font-family: 'Lobster', cursive;
            font-size: 48px;
            text-align: center;
        }
        .textoEspecialElegante {
            font-family: 'Lobster', cursive;
            font-size: 20px;
        }
        .textoEspecialEleganteFormulario {
            font-family: 'Lobster', cursive;
            font-size: 35px;
        }
        .textoEspecialContenidoMensaje {
            font-family: 'Great Vibes', cursive;
            font-size: 20px;
        }
        .panelesMensajes {
            background-color: #F1948A;
        }
        .piePanelMensaje {
            background-color: #F1978A;
        }
        .btn-info {
            background-color: #F1978A;
        }
    </style>
{% endblock newStyles %}


{% block newJs %}{% endblock newJs%}



{% block contenidoPrincipal %}
    
    {% block carruselImg %}    
        {{ include ('carruselImg.html.twig')}}
    {% endblock carruselImg %}
                    
    <div class ="row">
        <div class ="col-md-10 col-md-offset-1 textoCentralElegante ">            
            <p>Queremos compartir nuestra alegria con Todos Ustedes.</p>
            <p>Por ello, hemos pensado en crear este Libro de Firmas para que nos dejen sus comentario...</p>
        </div>
    </div>        
    
                    
    <div class='row'>        
        <div class='col-md-6 col-md-offset-1'>        
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal_form_alta_entrada">Agregá Tu Firma.. <i class="icon-play3 position-right"></i></button>
        </div>        
    </div>                
                    
    <br>     
    
    <div class ="row">
        {% for item in entradas %}
            
        <div class ="col-md-4 textoEspecialElegante">
            <div class="panel panel-flat">
                <div class="panel-body panelesMensajes">
                    <h4 class="text-semibold mb-4">
                        <a href="#" class="text-default">{{ item.nombre }}</a>
                    </h4>
                    <ul class="list-inline list-inline-separate content-group">
                        <li> Publicado : {{ item.fechaPublicacion  | localizeddate('long', 'none')}}</li>
                    </ul>
                    
                    <p class="textoEspecialContenidoMensaje"> 
                        {{ item.mensaje | truncate(150, true) }}
                    </p>
                </div>

                <div class="panel-footer panel-footer-condensed piePanelMensaje">
                    <div class="heading-elements not-collapsible">
                        <ul class="list-inline list-inline-separate heading-text text-muted">
                            <li><i class="icon-heart6 text-size-base text-pink position-left"></i> {{ random(100) }}</li>
                        </ul>

                        <a href="{{path('guest_book_visualizar_contenido_entrada', {'id_entrada' : item.id})}}" class="heading-text pull-right">Seguir Leyendo.. <i class="icon-arrow-right14 position-right"></i></a>
                    </div>
                </div>
            </div>
        </div>    
        {% endfor %}
        
    </div>
                    
    
        
     <!-- Formulario Modal -->
    <form action="{{path('guest_book_visualizar_entradas')}}" method = "post" > 
        <div id="modal_form_alta_entrada" class="modal fade textoEspecialElegante">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Agregar Nuevo Comentario..</h5>
                    </div>

                    <div class="modal-body">
                        <fieldset>                    
                            <div class="form-group">
                                <label>Ingrese su nombre:</label>
                                {{ form_widget(formulario.nombre,{ 'attr': {'class' : 'form-control ',}} )}}
                                {{ form_errors(formulario.nombre,{ 'attr': {'class' : 'form-control ',}} )}}
                            </div>
                            <div class="form-group">
                                <label>Ingrese su correo:</label>
                                {{ form_widget(formulario.correo,{ 'attr': {'class' : 'form-control ',}} )}}
                                {{ form_errors(formulario.correo,{ 'attr': {'class' : 'form-control ',}} )}}
                            </div>
                            <div class="form-group">
                                <label>Su mensaje :</label>
                                {{ form_widget(formulario.mensaje,{ 'attr': {'class' : 'form-control','rows' : '5', 'cols' : '5'}} )}}
                                {{ form_errors(formulario.mensaje,{ 'attr': {'class' : 'form-control',}} )}}
                                {#<textarea rows="5" cols="5" class="form-control" placeholder="Ingrese su mensaje aqui.."></textarea>#}
                            </div>
                        </fieldset>
                    </div>

                    <div class="modal-footer">
                        {{ form_widget(formulario.guardar,{ 'attr': {'class' : 'btn btn-primary',}} )}}
                        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- /Formulario Modal -->           
       
    
    
            
{% endblock contenidoPrincipal %}
