{% extends "base.html.twig"%}


{% block newFonts %}
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Lobster" rel="stylesheet">
{% endblock newFonts%}

{% block newStyles %}  
    <style>
        body {
		background-color: #EC7063;
	}
        .textoCentralElegante {
            font-family: 'Lobster', cursive;
            font-size: 48px;
            text-align: center;
        }
        .textoEspecialElegante {
            font-family: 'Lobster', cursive;
            font-size: 20px;
        }
        .textoEspecialEleganteFormulario {
            font-family: 'Lobster', cursive;
            font-size: 35px;
        }
        .textoEspecialContenidoMensaje {
            font-family: 'Great Vibes', cursive;
            font-size: 20px;
        }
        .panelesMensajes {
            background-color: #F1948A;
        }
        .piePanelMensaje {
            background-color: #F1978A;
        }
        .btn-info {
            background-color: #F1978A;
        }
    </style>
{% endblock newStyles %}


{% block newJs %}{% endblock newJs%}



{% block contenidoPrincipal %}
    {% block carruselImg %}    
        {{ include ('carruselImg.html.twig')}}
    {% endblock carruselImg %}



    <div class="row">
        <div class="col-md-12  textoEspecialElegante">
            
            <div class="panel panel-flat">
                <div class="panel-body panelesMensajes">
                    <h4 class="text-semibold mb-4">
                        {{entrada.nombre}}
                    </h4>
                    <ul class="list-inline list-inline-separate content-group">
                        <li> Publicado : {{ entrada.fechaPublicacion  | localizeddate('long', 'none')}}</li>
                    </ul>
                    
                    <p class="textoEspecialContenidoMensaje"> 
                        {{entrada.mensaje}}
                    </p>
                </div>

                <div class="panel-footer panel-footer-condensed piePanelMensaje">
                    <div class="heading-elements not-collapsible">
                        <ul class="list-inline list-inline-separate heading-text text-muted">
                            <li><i class="icon-heart6 text-size-base text-pink position-left"></i> {{ random(100) }}</li>
                        </ul>

                        <a href="{{path('guest_book_visualizar_entradas')}}" class="heading-text pull-right">Volver.. <i class="icon-arrow-right14 position-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock contenidoPrincipal %}


