<h2>Aviso de Entrada</h2>
<p>Estimados <strong>Novios</strong> Nos comunicamamos con Ustedes para informarle que se ha producido 
una nueva entrada en el Guest Book</p>
<ul>
	<li>De: <h3> {{entidad.id}}</h3> </li>
	<li>Nombre del Puesto: <h3> {{entidad.nombrePuesto}}</h3> </li>
	<li>Ubicación: <h3> {{entidad.ubicacion}}</h3> </li>
	<li>Prioridad: <h3> {% if entidad.prioridad == 'A'%} Alta {% elseif entidad.prioridad == 'B'%} Baja {% elseif entidad.prioridad == 'M'%} Media{% endif %}</h3> </li>
	<li> Problema Observado: <h3> {{entidad.detalleInsidencia}}</h3></li>
</ul>

<p>En cuento resuelva el problema te lo comunico a través de un correo electrónico a la cuenta {{entidad.correo}}.</p>

<p>Saludos Cordiales!! </p>

<p>Valentín (0297 154610752)</p>